/*
    You can add your own custom styles here.
*/

.article-list article .article-category a {
    background: #7a88df !important;
    color: #fff !important;
}

.section-title {
    font-size: 1.4rem !important;
}

.tagCloud .tagCloud-tags a {
    text-transform: lowercase !important;
}

